{% extends 'base_front.html.twig' %}

{% block title %}SNKER - order {{ invoice.id}} {% endblock %}

{% block body %}

    <div class="account container">
        <div class="orders-header">
            <h1>Order no.{{ invoice.id }}</h1>
            <hr/>
            <p>Status: {{ invoice.paymentStatus }}</p>
            <p>Delivery details</p>
            <hr/>
            <p>{{ invoice.receptionAddress }}</p>
            {% if form is not null %}
                {{ form_start(form) }}
                    {{ form_rest(form) }}
                {{ form_end(form) }}
            {% endif %}
        </div>

    </div>

    <style>

    </style>

{% endblock %}