{% extends 'base_front.html.twig' %}

{% block title %}SNKER - Marketplace {% endblock %}

{% block body %}

{# <div class="marketplace container">
    <div class="header">
        <h1>Our marketplace</h1>
        <p>lorem ipsum</p>
    </div>
    <form class="filters" name="filter-form">
        <div class="filter-item">
            <label>Sort by</label>
            <select name="order" value="all">
                <option value="all" {% if orderParam == 'all' %} selected="selected"{% endif %}>All</option>
                <option value="DESC" {% if orderParam == 'DESC' %} selected="selected"{% endif %}>More recent</option>
                <option value="ASC" {% if orderParam == 'ASC' %} selected="selected"{% endif %}>Oldest</option>
            </select>
        </div>
        <div class="filter-item">
            <label>Status</label>
            <select name="status" value="all">
                <option value="all"  {% if statusParam == 'all' %} selected="selected"{% endif %}>All</option>
                <option value="buyable"  {% if statusParam == 'buyable' %} selected="selected"{% endif %}>Buyable</option>
                <option value="sold"  {% if statusParam == 'sold' %} selected="selected"{% endif %}>Sold</option>
            </select>
        </div>
        <input type="submit" value="Apply">
    </form>
    <div class="sneakers_items">
        {% for sneaker in sneakers %}
            {{ include('@front/components/sneaker_card/sneaker_item_show.html.twig') }}
        {% else %}
            <p>No sneakers found </p>
        {% endfor %}
    </div>
</div> #}

<h2 class="text-2xl font-extrabold tracking-tight text-gray-900 m-8">Marketplace</h2>

<div class="flex flex-row flex-wrap m-8">
    {% for sneaker in sneakers %}
<a href="{{ path('front_sneaker_item_by_slug', { 'slug': sneaker.slug }) }}">

    <div class="bg-white">
        <div class="max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">

            <div class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
            <div class="group relative">
                <div class="w-64 min-h-64 bg-gray-200 aspect-w-1 aspect-h-1 rounded-md overflow-hidden group-hover:opacity-75 lg:h-80 lg:aspect-none">
                    {% if( sneaker.getImages() is not empty) %}
                        <div class="img_container">
                            <img src="{{ vich_uploader_asset(sneaker.getImages()[0]) }}" class="w-64 min-h-64 object-center object-cover lg:w-full lg:h-full" alt="{{ sneaker. name }}" />
                        </div>
                    {% endif %}
                </div>
                <div class="mt-4 flex justify-between">
                <div>
                    <h3 class="text-sm text-gray-700">
                        <span aria-hidden="true" class="absolute inset-0"></span>
                        {{sneaker.name}}
                    </h3>
                    <p class="mt-1 text-sm text-gray-500">{{sneaker.brand.name}}</p>
                </div>
                <p class="text-sm font-medium text-gray-900">${{sneaker.price}}</p>
                </div>
            </div>
            <!-- More products... -->
            </div>
        </div>
    </div>
</a>

    
    {% else %}
        <p>No sneakers found </p>
    {% endfor %}

</div>


<style>
    .filters{
        display: flex;
        align-items: flex-end;
        border: 1px solid gray;
        padding: 30px 20px;
    }

    .filters input[type=submit]{
        height: fit-content;
        width: fit-content;
    }

    .filters .filter-item{
        display: flex;
        flex-direction: column;
        width: fit-content;
        margin-right: 20px;
    }
</style>

<script>
    let selector = document.forms[0];
    selector.addEventListener('change', () => selector.submit());
</script>

{% endblock %}