{% extends 'base_front.html.twig' %}

{% block title %}SNKER - Your account {% endblock %}

{% block body %}

<div class="container account">
    <h1>Your account</h1>

    <div class='account_items'>
        <a href="{{ path('front_account_profile') }}" class='account_item'>
            <h3>Edit your profile</h3>
            <p>Edit your profile information and password here.</p>
        </a>
        <a href="{{ path('front_account_orders') }}" class='account_item'>
            <h3>Your orders</h3>
            <p>List your orders</p>
        </a>
        {% if(is_granted('ROLE_SELLER')) %}
            {% if not capabilitiesEnabled(app.user) %}
                <a href="{{ path('front_account_manage_stripe') }}" class='account_item'>
                    <h3>Manage your Stripe account</h3>
                    <p class="red-font">Your Stripe transfers capabilities are disabled, please fix this on your <strong>Stripe Dashboard </strong></p>
                </a>
            {% else %}
            
                <a href="{{ path('front_account_seller_orders') }}" class='account_item'>
                    <h3>Your sellings</h3>
                    <p>Here are listed every sneakers you have sold and provided parcel id for your clients.</p>
                </a>

                <a href="{{ path('front_account_seller_products') }}" class='account_item'>
                    <h3>Your products</h3>
                    <p>Here are listed all the sneakers you're currently selling or you've sold.</p>
                </a>

                <a href="{{ path('front_account_sneaker_add') }}" class='account_item'>
                    <h3>Publish</h3>
                    <p>Publish and sell your own sneakers</p>
                </a>

                <a href="{{ path('front_account_manage_stripe') }}" class='account_item'>
                    <h3>Manage your Stripe account</h3>
                    <p>Your Stripe panel in which you can see and manage all your payments from SNKERS</p>
                </a>
            {% endif %}
        {% else %}
            <a href="{{ path('front_account_become_seller') }}" class='account_item'>
                <h3>Become seller</h3>
                <p>Want to be part of the Marketplace and start selling your own sneaker? Become a seller here!</p>
            </a>
        {% endif %}

        <a href="{{ path('front_account_likes') }}" class='account_item'>
            <h3>Your likes</h3>
            <p>Show every sneakers you've liked</p>
        </a>

        <a href="" class='account_item'>
            <h3>Help</h3>
            <p>Any question or issue your encountering? Click here.</p>
        </a>
    </div>
</div>

{% endblock %}