{% extends 'base_front.html.twig' %}

{% block title %}Brand {{brand.name }}{% endblock %}

{% block body %}
<div class="container section-page">
    <div class="header">
        <h1>{{ brand.name }}</h1>
        <p>{{ brand.description }}</p>
    </div>

    <div class="sneakers_items">
        {% for sneaker in sneakers %}
            <a href="#" class="sneaker_item">
                <img src=""/>
                <div class="sneaker_data">
                    <h3>{{sneaker.name}}</h3>
                    <span>${{sneaker.price}}</span>
                    <span class="source">{{sneaker.fromShop ? 'From Shop' : 'From Marketplace'}}</span>
                </div>
            </a>
        {% else %}
            <p>No sneakers found </p>
        {% endfor %}
    </div>
</div>
{% endblock %}
