{% extends 'base_back.html.twig' %}

{% block title %}SNKER - Your DashBoard {% endblock %}

{% block body %}

    <div class="container" id="admin_index">
        <h1>Your Dashboard</h1>

        <div class='items'>
            <a href="{{ path('admin_user_dashboard') }}" class='account_item'>
                <h3>User Management</h3>
                <p>User Panel</p>
            </a>
            <a href="{{ path('admin_sneaker_dashboard') }}" class='account_item'>
                <h3>Sneakers Management</h3>
                <p>Sneakers panel</p>
            </a>
            <a href="{{ path('admin_orders_index') }}" class='account_item'>
                <h3>Orders</h3>
                <p>Manage the orders and invoices</p>
            </a>
            <a href="{{ path('admin_shop_index') }}" class='account_item'>
                <h3>Shop</h3>
                <p>Manage the shop</p>
            </a>
            <a href="{{ path('admin_marketplace_index') }}" class='account_item'>
                <h3>Marketplace</h3>
                <p>Manage the marketplace</p>
            </a>

        </div>

        <h2>Entities management</h2>
        <div class='items'>
            <a href="{{ path('back_sneaker_model_index') }}" class='account_item'>
                <h3>Sneaker models</h3>
                <p>Manage the sneakers models listed</p>
            </a>
            <a href="{{ path('back_sneaker_model_index') }}" class='account_item'>
                <h3>Categories</h3>
                <p>Manage the categories listed</p>
            </a>
            <a href="{{ path('back_brand_index') }}" class='account_item'>
                <h3>Brands</h3>
                <p>Manage the brands listed</p>
            </a>
            <a href="{{ path('back_color_index') }}" class='account_item'>
                <h3>Colors</h3>
                <p>Manage the colors listed</p>
            </a>
        </div>
    </div>

    <style>

        .account{
        }

        .account > h1{
            margin-bottom: 20px;
        }

        .account a{
            text-decoration: none;
            color: black;
        }

        .account_items{
            display: flex;
            flex-direction: row;
            /*justify-content: space-between;*/
            flex-wrap: wrap;
            width: 100%;
        }

        .account_item{
            width: calc(100%/3.1);
            margin-bottom: 15px;
            border: 1px solid gray;
            padding: 30px;
            border-radius: 10px;
            margin-right: 5px;
            cursor: pointer;
            transition: 0.5s;
        }

        .account_item:hover{
            background-color: #f0f0f0;
        }
    </style>

{% endblock %}