{% extends 'base_front.html.twig' %}

{% block title %}SNKER - Your profile {% endblock %}

{% block body %}

<div class="account container" id="account_profile">
    <div class="account_profile_left">
        <h1>Edit your profile</h1>
        {{ form_start(form) }}
            {{ form_rest(form) }}
            <button type="submit" class="btn btn-success">SAVE</button>
        {{ form_end(form) }}
        <div class="buttons-row">
            <a href="{{ path('account_profile_password') }}">
                <button class="btn btn-primary">Change password</button>
            </a>
            <a href="{{ path('account_profile_mail') }}">
                <button class="btn btn-primary">Change mail</button>
            </a>
        </div>
    </div>

    {# <div style="background-image: url('{{ asset('images/assets/visuals/ryan-plomp-76w_eDO1u1E-unsplash.jpg') }}')"
        class="account_profile_right"></div> #}

    <div class="account_profile_right">
        <div style="background-image: url('{{ asset('images/assets/visuals/ryan-plomp-76w_eDO1u1E-unsplash.jpg') }}')"></div>
    </div>
</div>

<style>

    
</style>

{% endblock %}