{% extends 'base_front.html.twig' %}
{% block title %}{{ user.name }} {{ user.surname }} profile | SNKERS{% endblock %}

{% block body %}
    <div class="container profile">
        <div class="left-part">
            <h2>{{ user.name }} {{ user.surname }}</h2>
            <div class="img_container">
                {% if user.profileImage is not empty %}
                    <img src="{{ vich_uploader_asset(user.profileImage) }}" alt="profile picture"/>
                {% else %}
                    <img src="https://images.unsplash.com/photo-1571601035754-5c927f2d7edc" alt="profile picture"/>
                {% endif %}
            </div>
            <a href="{{ path('report-user', { 'id': user.id }) }}"><button>Report this user</button></a>
        </div>
        <div class="right-part">
            <div class="right-header">
                <h2>Sellings</h2>
                <select defaultValue="ALL">
                    <option value="ALL">All</option>
                    <option value="SELLABLE">Sellable</option>
                    <option value="SOLD">Sold</option>
                </select>
            </div>
            {% if user.publishedSneakers %}
                <div class="sneakers_items">
                    {% if( user.publishedSneakers is not empty) %}
                        {% for sneaker in user.publishedSneakers %}
                            {{ include('@front/components/sneaker_card/sneaker_item_show.html.twig') }}
                        {% endfor %}
                    {% else %}
                        <p>This user has no sneaker</p>
                    {% endif %}
                </div>
            {% else %}
                <p>This user has no sneaker</p>
            {% endif %}
        </div>
    </div>

    <style>
        .profile{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            margin-top: 10px;
        }

        .left-part{
            background: #FFFFFF;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 25%;
            padding: 20px 40px;
        }

        .left-part > .img_container{
            height: 180px;
            width: 180px;
            border-radius: 50%;
            overflow: hidden;
            margin-bottom: 10px;
            box-shadow: 0px 11px 15px -10px rgba(0, 0, 0, 0.25);
            border: 1px solid gray;
        }

        .left-part > .img_container > img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        .right-part{
            background: #FFFFFF;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            width: 74%;
            padding: 20px 40px;
        }

        .right-part .right-header{
            display: flex;
        }

        .right-part .right-header select{
            width: fit-content;
            padding: 5px 15px;
        }
    </style>
{% endblock %}
