{% extends 'base_back.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <div class="user-data-page container">
        <div class="header">
            <a href="{{ path('admin_user_dashboard') }}">Back to list</a>
        </div>
        <div class="user-data">
            <div class="left-col">
                <h2>Basic information</h2>
                <span>{{ user.id }} - {{ user.email }}</span>
                <span>{{ user.roles ? user.roles|json_encode : '' }}</span>
                <span>{{ user.name ? 'No name set'}}</span>
                <span>{{ user.surname??'No surname set' }}</span>
                <span>{{ user.city??'No city set' }}</span>
                <span>{{ user.address??'No address set' }}</span>
                <span>{{ user.phone??'No phone number set' }}</span>
                <span>{{ user.stripeConnectId??'No stripe connect id' }}</span>
                <div class="buttons-row">
                    <a href="{{ path('admin_user_edit', {'id': user.id}) }}"><button class="btn-primary">Edit</button></a>
                    {{ include('back/admin_user/_delete_form.html.twig') }}
                </div>
            </div>

            <div class="right-col">
                <div>
                    <h2>Reports received</h2>
                    {% if user.userReports is not empty %}
                        <ul>
                            {% for report in user.userReports %}
                                <li>{{ report.reporter.name }} - {{ report.reason.name }} by <a href="{{ path('front_profile', { 'id': report.reporter.id}) }}">{{ report.reporter.name??'No name set' }}</a></li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>This user has never been reported</p>
                    {% endif %}
                </div>

                <div>
                    <h2>User reports emitted</h2>
                    {% if user.userReportsMade is not empty %}
                        <ul>
                            {% for report in user.userReportsMade %}
                                <li><a href="{{ path('front_profile', {'id': report.reported.id} ) }}">{{ report.reported.name??'No name set' }}</a> - {{ report.reason.name }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>This user has reported nobody</p>
                    {% endif %}
                </div>

                <div>
                    <h2>Product reports emitted</h2>
                    {% if user.productReports is not empty %}
                        <ul>
                            {% for report in user.productReports %}
                                <li>
                                    <a href="{{ path('front_sneaker_item', { 'id': report.product.id}) }}">{{ report.product.name }}</a>- Reason: {{ report.reason.name }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>This user has reported no product</p>
                    {% endif %}
                </div>

            </div>
        </div>
        <div class="product-row">
            <h3>PRODUCTS</h3>
            <div class="sneakers_items">
                {% for sneaker in user.publishedSneakers %}
                    {{ include('@front/components/sneaker_card/sneaker_item_show.html.twig') }}
                {% else %}
                    <p>No sneakers found </p>
                {% endfor %}
            </div>
        </div>

    </div>

    <!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-white shadow overflow-hidden sm:rounded-lg">
  <div class="px-4 py-5 sm:px-6">
    <h3 class="text-lg leading-6 font-medium text-gray-900">#{{ user.id }} - {{ user.email }}</h3>
    <p class="mt-1 max-w-2xl text-sm text-gray-500">Personal details and application.</p>
  </div>
  <div class="border-t border-gray-200">
    <dl>
      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">Name</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">{{ user.name ? 'No name set'}}</dd>
      </div>
      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">Surname</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">{{ user.surname ? 'No surname set'}}</dd>
      </div>
      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">Roles</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">{{ user.roles ? user.roles|json_encode : '' }}</dd>
      </div>
      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">Email address</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">{{ user.email ? 'No email set'}}</dd>
      </div>
      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">Address</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">{{ user.address ? 'No address set'}}</dd>
      </div>

      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">City</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">{{ user.city ? 'No city set'}}</dd>
      </div>

      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">Phone</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">{{ user.phone ? 'No phone set'}}</dd>
      </div>
      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">Address</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">{{ user.address ? 'No name set'}}</dd>
      </div>
      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">StripeConnect ID</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">{{ user.stripeConnectId??'No stripe connect id' }}</dd>
      </div>
      
    </dl>
  </div>
</div>


    <style>
        .user-data-page{
            display: flex;
            flex-direction: column;
        }

        .user-data{
            display: flex;
            justify-content: space-between;
        }

        .header{
            width: 100%;
        }

        .left-col{
            width: 49%;
            display: flex;
            flex-direction: column;
            border: 1px solid gray;
            padding: 10px 20px;
        }

        .left-col .buttons-row{
            display: flex;
            align-items: center;
        }

        .right-col{
            width: 49%;
            border: 1px solid gray;
            padding: 10px 20px;
        }

        .product-row{
            margin-top: 10px;
            padding: 10px 20px;
            display: flex;
            flex-direction: column;
            border: 1px solid gray;

        }
    </style>
{% endblock %}
