{% extends 'base_front.html.twig' %}
{% block title %}SNKER - Models {% endblock %}

{% block body %}
    <div class="container model-page">
        <div class="model-information">
            <img src="{{  sneaker_model.img }}"/>
            <h2>{{ sneaker_model.name }}</h2>
            <p>{{ sneaker_model.description }}</p>

        </div>

        <a href="{{ path('app_sneaker_model_index') }}">back to list</a>
        <hr/>
        <div class="sneakers-list">
            {% if sneaker_model.sneakers is not empty %}
                <h2>Buyable</h2>
                <div class="sneakers_items">
                    {% for sneaker in sneaker_model.sneakers %}
                        {{ include('@front/components/sneaker_card/sneaker_item_show.html.twig') }}
                    {% endfor %}
                </div>
            {% else %}
                <h4>No one is selling this model</h4>
            {% endif %}

        </div>
    </div>

{% endblock %}
