{# <nav id="navigation">
    <div class="container">
        <a class="logo_container" href="{{path('front_default') }}">
            <img id="logo" src="{{asset('images/logo.png')}}" alt="SNKERS logo"/>
        </a>
        <ul class="tabs">
            <li>
                <a href="/shop">Shop</a>
            </li>
            <li>
                <a href="/marketplace">Marketplace</a>
            </li>
            <li>
                <a href="/about">About-us</a>
            </li>
            {% if ( app.user ) %}
                {% if ( is_granted('ROLE_ADMIN') ) %}
                    <li>
                        <a href="{{ path('admin_dashboard_index') }}">Dashboard</a>
                    </li>
                {% endif %}
                <li class="profile-div">
                    <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.5 4.5C4.5 6.981 6.519 9 9 9C11.481 9 13.5 6.981 13.5 4.5C13.5 2.019 11.481 0 9 0C6.519 0 4.5 2.019 4.5 4.5ZM17 19H18V18C18 14.141 14.859 11 11 11H7C3.14 11 0 14.141 0 18V19H17Z" fill="black"/>
                    </svg>
                    <a href="{{ path('account_index') }}" class="profile" >
                        {{app.user.username}}
                    </a>
                    <a href="/logout">
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13 14L11.625 12.55L14.175 10H6V8H14.175L11.625 5.45L13 4L18 9L13 14ZM0 18V0H9V2H2V16H9V18H0Z" fill="black"/>
                        </svg>
                    </a>
                </li>
            {% else %}
            <li class="auth-div">
                <a href="/login" type="submit">
                    <button class="btn btn-primary">Login</button>
                </a>
            </li>
            {% endif %}
        </ul>
        
    </div>

</nav> #}

<header class="z-10 py-4 bg-white shadow-md dark:bg-gray-800">
  <div class="container flex items-center justify-between h-full px-6 mx-auto text-purple-600 dark:text-purple-300">
    <a class="logo_container" href="{{path('front_default') }}">
        <img id="logo" src="{{asset('images/logo.png')}}" class="w-22 h-12" alt="SNKERS logo"/>
    </a>
    <!-- Search input -->
    <div class="flex justify-center flex-1 lg:mr-32">
      <div class="relative w-full max-w-xl mr-6 focus-within:text-purple-500">
        <div class="absolute inset-y-0 flex items-center pl-2">
        </div>
        <input class="w-full pl-8 pr-2 text-sm text-gray-700 placeholder-gray-600 bg-gray-100 border-0 rounded-md dark:placeholder-gray-500 dark:focus:shadow-outline-gray dark:focus:placeholder-gray-600 dark:bg-gray-700 dark:text-gray-200 focus:placeholder-gray-500 focus:bg-white focus:border-purple-300 focus:outline-none focus:shadow-outline-purple form-input" type="text" placeholder="Search for projects" aria-label="Search">
      </div>
    </div>
    <ul class="flex items-center flex-shrink-0 space-x-6">
        <li>
            <a href="/shop">Shop</a>
        </li>
        <li>
            <a href="/marketplace">Marketplace</a>
        </li>
        <li>
            <a href="/about">About-us</a>
        </li>
        {% if ( app.user ) %}
            {% if ( is_granted('ROLE_ADMIN') ) %}
                <li>
                    <a href="{{ path('admin_dashboard_index') }}">Dashboard</a>
                </li>
            {% endif %}
            
            <li class="profile-div">
                <button class="align-middle rounded-full focus:shadow-outline-purple focus:outline-none" @click="toggleProfileMenu" @keydown.escape="closeProfileMenu" aria-label="Account" aria-haspopup="true">
                </button>
                {# <a href="{{ path('account_index') }}" class="profile" >
                    <img class="object-cover w-8 h-8 rounded-full" src="https://images.unsplash.com/photo-1502378735452-bc7d86632805?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=200&amp;fit=max&amp;s=aa3a807e1bbdfd4364d1f449eaa96d82" alt="" aria-hidden="true">
                </a> #}

                <li class="nav-item dropdown">
                <a class="nav-link dropdown" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="object-cover w-8 h-8 rounded-full" src="https://images.unsplash.com/photo-1502378735452-bc7d86632805?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=200&amp;fit=max&amp;s=aa3a807e1bbdfd4364d1f449eaa96d82" alt="" aria-hidden="true">
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{{ path('account_index') }}">Account</a>
                    <a class="dropdown-item" href="/logout">Logout</a>
                </div>
            </li>
                
            </li>
        {% else %}
        <li class="auth-div">
            <a href="/login" type="submit">
                <button class="btn btn-primary">Login</button>
            </a>
        </li>
        {% endif %}
    </ul>
  </div>
</header>
