{% extends 'base_back.html.twig' %}

{% block title %}Sneakers index{% endblock %}

{% block body %}
<div class="container">
    <h1>Sneakers index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Name</th>
                <th>Size</th>
                <th>Price</th>
                <th>Slug</th>
                <th>Description</th>
                <th>Unused</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sneaker in sneakers %}
            <tr>
                <td>{{ sneaker.id }}</td>
                <td class="preview_container"><img src="{{ vich_uploader_asset(sneaker.images[0]) }}" alt="sneaker picture"/></td>
                <td>{{ sneaker.name }}</td>
                <td>{{ sneaker.size }}</td>
                <td>{{ sneaker.price }}</td>
                <td>{{ sneaker.slug }}</td>
                <td>{{ sneaker.description|slice(0, 10) }}</td>
                <td>{{ sneaker.unused }}</td>
                <td>
                    <a href="{{ path('admin_sneaker_show', {'id': sneaker.id}) }}">show</a>
                    <a href="{{ path('admin_sneaker_edit', {'id': sneaker.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
