{% extends 'base_back.html.twig' %}

{% block title %}Sneaker{% endblock %}

{% block body %}
    <div class="container">
        <h1>Sneaker</h1>

        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sneakers.id }}</td>
            </tr>
            <tr>
                <th>Size</th>
                <td>{{ sneakers.size }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ sneakers.price }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ sneakers.slug }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ sneakers.description }}</td>
            </tr>
            </tbody>
        </table>
        <div class="actions-buttons">
            <a href="{{ path('admin_sneaker_dashboard') }}">back to list</a>

            <a href="{{ path('admin_sneaker_edit', {'id': sneakers.id}) }}">edit</a>

            {{ include('back/admin_sneaker/_delete_form.html.twig') }}
        </div>

        <div>
            <h2>Invoices history</h2>
            <div>
                {% if invoices is not empty %}
                    {% for invoice in invoices %}
                        <div class="invoice-item">
                            <div class="invoice-top">
                                <h4>No.{{ invoice.id }} - {{ invoice.paymentStatus }}</h4>
                            </div>
                            <p>Bought on {{ invoice.date|date('d/m/Y') }}</p>
                            <a href="{{ path('admin_orders_show', { 'id': invoice.id }) }}"><button>Check details</button></a>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>Product never ordered yet</p>
                {% endif %}
            </div>
        </div>

        <style>
            .actions-buttons{
                border: 1px solid gray;
                padding: 10px;
            }

            .invoice-item{
                display: flex;
                flex-direction: column;
                width: 100%;
                border: 1px solid gray;
                padding: 10px;
            }

            .invoice-item > .invoice-top{
                display: flex;
            }
        </style>
    </div>

{% endblock %}
