{% extends 'base_front.html.twig' %}

{% block title %}SNKER - order {{ invoice.id}} {% endblock %}

{% block body %}

    <div class="account container">
        <div class="orders-header">
            <h1>Order no.{{ invoice.id }}</h1>
            <p><i>Bought on {{ invoice.date|date('d/m/Y') }}</i></p>
            <hr/>
            <p>Status: {{ invoice.paymentStatus }}</p>
            <div>
                <p>Delivery details</p>
                <p>Reception address: <b>{{ invoice.receptionAddress }}</b></p>
                <p>Name {{ invoice.buyer.name}} {{ invoice.buyer.surname }}</p>
            </div>
            <hr/>
            {% if canReceiveParcel %}
                {{ include('@front/account/orders/components/_receive_form.html.twig') }}
            {% endif %}
        </div>

    </div>

    <style>

    </style>

{% endblock %}