{% extends 'base_front.html.twig' %}

{% block title %}SNKER - order {{ invoice.id}} {% endblock %}

{% block body %}

    <div class="account container">
        <div class="orders-header">
            <h1>Order no.{{ invoice.id }}</h1>
            <hr/>
            <p>Status: {{ invoice.paymentStatus }}</p>
            <p>Delivery details</p>
            <hr/>
            <p>{{ invoice.receptionAddress }}</p>
            {% if canReceiveParcel %}
                {{ include('@front/account/orders/components/_receive_form.html.twig') }}
            {% endif %}
        </div>

    </div>

    <style>

    </style>

{% endblock %}