<span class="sneaker-title">
    {{ include('@front/sneaker/components/_like_form.html.twig') }}
    <h1>{{sneaker.name}}</h1>
</span>

<h3>{{ sneaker.brand.name }} - FUTUR MODEL DISPLAYED HERE</h3>
<div class="images">
    <div id="images-column">
        {% if( sneaker.getImages() is not empty) %}
            {% for image in sneaker.getImages %}
                <img src="{{ vich_uploader_asset(image) }}" />
            {% endfor %}
        {% endif %}
    </div>
    {% if( sneaker.getImages() is not empty) %}
        <img id="main-picture" src="{{ vich_uploader_asset(sneaker.getImages()[0]) }}" alt="{{ sneaker. name }}" />
    {% endif %}
</div>
<h3>Description</h3>
{{ sneaker.description }}