<span class="sneaker-title">
    {%  if app.user %}
        {% if isLiked is defined and isLiked is not null and isLiked == 'true' %}
            <svg width="40" height="40" viewBox="0 0 894 800" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M872.371 163.944C858.5 131.862 838.499 102.79 813.488 78.3545C788.459 53.8463 758.948 34.37 726.562 20.9847C692.979 7.04978 656.959 -0.0828799 620.594 0.000726568C569.576 0.000726568 519.8 13.9556 476.544 40.3147C466.196 46.6202 456.365 53.5459 447.051 61.0919C437.738 53.5459 427.907 46.6202 417.558 40.3147C374.302 13.9556 324.526 0.000726568 273.508 0.000726568C236.772 0.000726568 201.173 7.02982 167.541 20.9847C135.047 34.4226 105.761 53.7527 80.6141 78.3545C55.5706 102.762 35.5652 131.842 21.7317 163.944C7.34737 197.332 0 232.788 0 269.277C0 303.699 7.03692 339.568 21.0073 376.057C32.701 406.551 49.4654 438.182 70.8866 470.123C104.829 520.671 151.501 573.389 209.452 626.831C305.485 715.418 400.587 776.613 404.623 779.094L429.148 794.806C440.014 801.731 453.985 801.731 464.85 794.806L489.376 779.094C493.412 776.509 588.41 715.418 684.547 626.831C742.498 573.389 789.17 520.671 823.112 470.123C844.534 438.182 861.401 406.551 872.992 376.057C886.962 339.568 893.999 303.699 893.999 269.277C894.102 232.788 886.755 197.332 872.371 163.944Z" fill="#5F6B83"/>
            </svg>
        {% else %}
            <svg width="40" height="40" viewBox="0 0 864 774" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M843 158.6C829.596 127.564 810.269 99.4389 786.1 75.8C761.913 52.0906 733.396 33.2491 702.1 20.3C669.648 6.81931 634.841 -0.0808805 599.7 9.82895e-07C550.4 9.82895e-07 502.3 13.5 460.5 39C450.5 45.1 441 51.8 432 59.1C423 51.8 413.5 45.1 403.5 39C361.7 13.5 313.6 9.82895e-07 264.3 9.82895e-07C228.8 9.82895e-07 194.4 6.8 161.9 20.3C130.5 33.3 102.2 52 77.9 75.8C53.6997 99.4122 34.3678 127.544 21 158.6C7.1 190.9 0 225.2 0 260.5C0 293.8 6.8 328.5 20.3 363.8C31.6 393.3 47.8 423.9 68.5 454.8C101.3 503.7 146.4 554.7 202.4 606.4C295.2 692.1 387.1 751.3 391 753.7L414.7 768.9C425.2 775.6 438.7 775.6 449.2 768.9L472.9 753.7C476.8 751.2 568.6 692.1 661.5 606.4C717.5 554.7 762.6 503.7 795.4 454.8C816.1 423.9 832.4 393.3 843.6 363.8C857.1 328.5 863.9 293.8 863.9 260.5C864 225.2 856.9 190.9 843 158.6ZM432 689.8C432 689.8 76 461.7 76 260.5C76 158.6 160.3 76 264.3 76C337.4 76 400.8 116.8 432 176.4C463.2 116.8 526.6 76 599.7 76C703.7 76 788 158.6 788 260.5C788 461.7 432 689.8 432 689.8Z" fill="#5F6B83"/>
            </svg>
        {% endif %}

    {% endif %}
    <h1>{{sneaker.name}}</h1>
</span>

<h3>{{ sneaker.brand.name }} - FUTUR MODEL DISPLAYED HERE</h3>
<div class="images">
    <div id="images-column">
        {% if( sneaker.getImages() is not empty) %}
            {% for image in sneaker.getImages %}
                <img src="{{ vich_uploader_asset(image) }}" />
            {% endfor %}
        {% endif %}
    </div>
    {% if( sneaker.getImages() is not empty) %}
        <img id="main-picture" src="{{ vich_uploader_asset(sneaker.getImages()[0]) }}" alt="{{ sneaker. name }}" />
    {% endif %}
</div>
<h3>Description</h3>
{{ sneaker.description }}