<a href="{{ path('admin_sneaker_edit', { 'id': sneaker.id }) }}" class="sneaker_item">
    <img src=""/>
    <div class="sneaker_data">
        {% if( sneaker.getImages() is not empty) %}
            <img src="{{ vich_uploader_asset(sneaker.getImages()[0]) }}" alt="{{ sneaker. name }}" />
        {% endif %}
        <h3>{{sneaker.name}}</h3>
        <span>{{ sneaker.brand.name}} </span>
        <span>${{sneaker.price}}</span>
        <span class="source">{{sneaker.fromShop ? 'From Shop' : 'From Marketplace'}}</span>
    </div>
</a>
