{% extends 'base_front.html.twig' %}

{% block title %}SNKER - Accueil{% endblock %}

{% block body %}

<div class="home">
    <ul class="horizontal_list_item">
        {% for category in categories %}
            <li><a href="{{ path('front_category_show', {'id':  category.id}) }}">{{ category.name }}</a></li>
        {% else %}
            <li>No category found </li>
        {% endfor %}
        <li><a href="{{ path('front_category_index') }}" >More ></a></li>
    </ul>

    <div id="home_banner">
        <img alt="banner" 
            src="https://images.unsplash.com/photo-1552066344-2464c1135c32?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2340&q=80"/>
    </div>

    <ul class="horizontal_list_item">
        {% for brand in brands %}
            <li><a href="{{ path('front_brand_show', {'id': brand.id}) }}">{{brand.name }}</a></li>
        {% else %}
            <li>No brand found </li>
        {% endfor %}
        <li><a href="{{ path('front_brand_index') }}" >More ></a></li>
    </ul>

    <section class="home_section">
        <div class="home_section_header">
            <h2>Popular Sneakers from the Shop</h2>
            <a href="{{path('front_shop_index') }}" class="red-font">See All ></a>
        </div>
        <div class="sneakers_items">
            {% for sneaker in popularSneakersFromShop %}
                <a href="{{ path('front_sneaker_item', { 'id': sneaker.id }) }}" class="sneaker_item">
                    <img src=""/>
                    <div class="sneaker_data">
                        <h3>{{sneaker.name}}</h3>
                        <span>{{ sneaker.brand.name}} </span>
                        <span>${{sneaker.price}}</span>
                        <span class="source">{{sneaker.fromShop ? 'From Shop' : 'From Marketplace'}}</span>
                    </div>
                </a>
            {% else %}
                <p>No sneakers found </p>
            {% endfor %}
        </div>
    </section>

    <section class="home_section">
        <div class="home_section_header">
            <h2>Popular models from the MarketPlace</h2>
            <a href="{{path('front_marketplace_index') }}" class="red-font">See All ></a>
        </div>
        <div class="sneakers_items">
            {% for sneaker in popularSneakersFromMP %}
                <a href="{{ path('front_sneaker_item', { 'id': sneaker.id }) }}" class="sneaker_item">
                    <img src=""/>
                    <div class="sneaker_data">
                        <h3>{{sneaker.name}}</h3>
                        <span>{{ sneaker.brand.name}} </span>
                        <span>${{sneaker.price}}</span>
                        <span class="source">{{sneaker.fromShop ? 'From Shop' : 'From Marketplace'}}</span>
                    </div>
                </a>
            {% else %}
                <p>No sneakers found </p>
            {% endfor %}
        </div>
    </section>
</div>

<style>

    #home_banner{
        height: 300px;
        overflow: hidden;
        position: relative;
        margin: 20px 0;
    }

    #home_banner > img{
        position: absolute;
        top: -190%;
        left: 0;
    }

    .horizontal_list_item{
        width: 100%;
        background-color: #EAEAEA;
        display: flex;
        justify-content: center;
        padding: 10px 20px;
        text-transform: uppercase;
    }

    ul{
        list-style-type: none;
    }

    a{
        text-decoration: none;
        color: black;
    }

    .horizontal_list_item li{
        width: auto;
        padding: 5px 20px;
    }

    section{
        padding: 0 20%;
        width: 100%;
    }

    h2{
        width: auto;
    }

    .home_section{
        margin-top: 20px;
    }

    .home_section_header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    .home_section_header > a{
        width: auto;
        font-weight: bold;
        font-size: 20px;
    }



</style>

{% endblock %}