{% extends 'base_front.html.twig' %}

{% block title %}SNKER - BUY {{ sneaker.name}} {{sneaker.fromShop ? 'from the Shop' : 'on the marketplace' }} {% endblock %}

{% block body %}

<div class="container">
    <div class="left">
        {{ include('@front/sneaker/components/sneaker_left_column.html.twig') }}
    </div>
    <div class="right">
        <span>{{ sneaker.quantity??'Unknown quantity' }} left in stock</span>
        <span>{{sneaker.publicationDate is empty ? "" : sneaker.publicationDate|date("m/d/Y")}}</span>
        {% if(not sold) %}
            <a href="{{ path('shop_product_checkout', {'id': sneaker.id })}}">
                <button>${{ sneaker.price }} - BUY ON OUR SHOP</button>
            </a>
        {% else %}
            <h4>Sold</h4>
        {%  endif %}

        <div>
            <div style="border-bottom: 1px solid gray">
                <h4>Materials</h4>
                {%  if(sneaker.getMaterials is not empty) %}

                {% else %}
                    <span>Not specified</span>
                {% endif %}
            </div>
            <div style="border-bottom: 1px solid gray">
                <h4>Colors</h4>
                {%  if(sneaker.getColors is not empty) %}

                {% else %}
                    <span>Not specified</span>
                {% endif %}
            </div>
            <a href="{{ path('report-sneaker', { 'id': sneaker.id }) }}"><button>Report this product</button></a>
        </div>
    </div>

</div>

{{ include('@front/sneaker/components/sneaker_css.html.twig') }}
{% endblock %}