{% extends 'base_front.html.twig' %}

{% block title %}SNKER - BUY {{ sneaker.name}} {{sneaker.fromShop ? 'from the Shop' : 'on the marketplace' }} {% endblock %}

{% block body %}

<div class="container" id="sneaker-page">
    <div class="left">
        {{ include('@front/sneaker/components/sneaker_left_column.html.twig') }}
    </div>
    <div class="right">
        <div class="profile-part">
            <a href="{{  path('front_profile', { 'id': sneaker.publisher.id }) }}" class="img_container">
                {% if sneaker.publisher.profileImage is not empty %}
                    <img src="{{ vich_uploader_asset(sneaker.publisher.profileImage) }}" alt="profile picture"/>
                {% else %}
                    <img src="https://images.unsplash.com/photo-1571601035754-5c927f2d7edc" alt="profile picture"/>
                {% endif %}
            </a>
            <span>Provided by <br/><a style="font-weight: bolder;" href="{{  path('front_profile', { 'id': sneaker.publisher.id }) }}">{{ sneaker.publisher.name??'Unknown' }} {{ sneaker.publisher.surname }}</a></span>
        </div>
        {% if(not sneaker.sold ) %}
            <a href="{{ path('marketplace_product_checkout', {'id': sneaker.id }) }}">
                <button class="btn btn-primary">${{ sneaker.price }} - BUY NOW</button>
            </a>
        {% else %}
            <h4>Sold</h4>
        {%  endif %}

        <div>
            {# <div style="border-bottom: 1px solid gray">
                <h4>Materials</h4>
                {%  if(sneaker.getMaterials is not empty) %}

                {% else %}
                    <span>Not specified</span>
                {% endif %}
            </div>
            <div style="border-bottom: 1px solid gray">
                <h4>Colors</h4>
                {%  if(sneaker.getColors is not empty) %}

                {% else %}
                    <span>Not specified</span>
                {% endif %}
            </div>
            <a href="{{ path('report-sneaker', { 'id': sneaker.id }) }}">
                <button class="btn btn-secondary">Report this product</button>
            </a> #}
            <h3>Details</h3>
            <span>{{sneaker.publicationDate is empty ? "" : "Published on " ~ sneaker.publicationDate|date("d/m/Y")}}</span>

        </div>

    </div>

</div>

{{ include('@front/sneaker/components/sneaker_css.html.twig') }}


{% endblock %}