{% extends 'base_front.html.twig' %}

{% block title %}SNKER - BUY {{ sneaker.name}} {{sneaker.fromShop ? 'from the Shop' : 'on the marketplace' }} {% endblock %}

{% block body %}

<div class="container">
    <div class="left">
        <h1>{{sneaker.name}}</h1>
        <h3>{{ sneaker.brand.name }} - FUTUR MODEL DISPLAYED HERE</h3>
        {% if( sneaker.getImages() is not empty) %}
            <img src="{{ vich_uploader_asset(sneaker.getImages()[0]) }}" alt="{{ sneaker. name }}" />
        {% endif %}
        <h3>Description</h3>
        {{ sneaker.description }}
    </div>
    <div class="right">
        <span>{{sneaker.publicationDate is empty ? "" : sneaker.publicationDate|date("m/d/Y")}}</span>
        <span>Provided by {{ sneaker.publisher.name }} {{ sneaker.publisher.surname }}</span>
        {% if(not sold) %}
            <a href="{{ path('marketplace_product_checkout', {'id': sneaker.id }) }}">
                <button>${{ sneaker.price }} - BUY NOW</button>
            </a>
        {% else %}
            <h4>Sold</h4>
        {%  endif %}

        <div>
            <div>
                <h4>Materials</h4>
                {%  if(sneaker.getMaterials is not empty) %}

                {% else %}
                    <span>Not specified</span>
                {% endif %}
            </div>
            <div>
                <h4>Colors</h4>
                {%  if(sneaker.getColors is not empty) %}

                {% else %}
                    <span>Not specified</span>
                {% endif %}
            </div>
        </div>

    </div>

</div>

<style>
    .container{
        display: flex;
    }

    .left{
        width: 60%;
    }

    .right{
        width: 35%;
    }
</style>

{% endblock %}