{% extends 'base_front.html.twig' %}

{% block title %}SNKER - BUY {{ sneaker.name}} {{sneaker.fromShop ? 'from the Shop' : 'on the marketplace' }} {% endblock %}

{% block body %}

<div class="container">
    <div class="left">
        {{ include('@front/sneaker/components/sneaker_left_column.html.twig') }}
    </div>
    <div class="right">
        <span>{{sneaker.publicationDate is empty ? "" : sneaker.publicationDate|date("m/d/Y")}}</span>
        <span>Provided by <a href="{{  path('front_profile', { 'id': sneaker.publisher.id }) }}">{{ sneaker.publisher.name??'Unknown' }} {{ sneaker.publisher.surname }}</a></span>
        {% if(not sold) %}
            <a href="{{ path('marketplace_product_checkout', {'id': sneaker.id }) }}">
                <button>${{ sneaker.price }} - BUY NOW</button>
            </a>
        {% else %}
            <h4>Sold</h4>
        {%  endif %}

        <div>
            <div>
                <h4>Materials</h4>
                {%  if(sneaker.getMaterials is not empty) %}

                {% else %}
                    <span>Not specified</span>
                {% endif %}
            </div>
            <div>
                <h4>Colors</h4>
                {%  if(sneaker.getColors is not empty) %}

                {% else %}
                    <span>Not specified</span>
                {% endif %}
            </div>
        </div>

    </div>

</div>

{{ include('@front/sneaker/components/sneaker_css.html.twig') }}


{% endblock %}