{% extends 'base_front.html.twig' %}

{% block title %}Edit {{sneaker.name}}{% endblock %}

{% block body %}
<div class="account container">
    <h1>Edit sneaker: {{sneaker.name}}</h1>

    {{ form_start(form) }}
        {{ form_rest(form) }}
    {{ form_end(form) }}

    {{ include('@front/account/sneakers/_delete_form.html.twig') }}
</div>
{% endblock %}
